body, p{
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14px;
  color: #333;
}
 
body h1, body h2, body h3, body h4, body h5, body h6, body a {
    padding: 0;  
    margin: 0;   
    font-family: 'Roboto';
   color: #3c3c3c;
}

body a:active, body a:focus, body a:hover, button, input {
     text-decoration: none;
     outline: 0;
     /*color: #3c3c3c;*/
}
/***********************************avtorizatsiya*************************************************/
section#avtorizatsiya{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.avtorizatsiya_left{
  width: 448px;
  text-align: left;
  padding: 35px 64px;  
  display: inline-block;
  min-width: 448px;
}
.back_img_iks{
  display: inline-block;
  width: calc(100% - 448px);
  /*background-color: #d8d8d8;*/
  position: relative;
  overflow: hidden;
}
.back_img_iks img{
  width: 100%;
  height: 100%;
}

.my_carousel.owl-carousel.owl-loaded.owl-drag {
    min-height: 100vh;
    height: 100vh;
}

label.checks:after {
    background-size: 90% !important;
}

/*
.back_img_iks:after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-top: 1px solid #bebebe;
  transform: rotate(45deg);
}
*/

a.logo{
  margin-bottom: 57px;
  display: inline-block;
}
.avtorizatsiya_left h2{
  color: #3c3c3c;
  font-size: 22px;
  font-weight: 900;
  line-height: 24px;
}
.avtorizatsiya_left p{
  opacity: 0.9;
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 14px;
}

.avtorizatsiya_left form {
  margin-top: 15px;
}
.avtorizatsiya_left form input{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #ebebeb;
  border: 0;
  padding: 12px 16px;
  color: #3c3c3c;
  font-size: 14px;
}
.avtorizatsiya_left form label{
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
}
.form_group.parol{
  position: relative;
}
.form_group.parol a{
  position: absolute;
  transition: all .2s linear;
  width: 16px;
  height: 16px;
  top: 52px;
  right: 16px; 
  background: url('../img/view.png') no-repeat center center;
  background-size: 80%;
}

.form_group.parol a.active{
  position: absolute;
  transition: all .2s linear;
  width: 16px;
  height: 16px;
  bottom: 12px;
  right: 16px; 
  background: url('../img/eye.png') no-repeat center center;
  background-size: 80%;
}

.form_group.zap_menya input{
  display: none;
}
.clr:after{
  content: "";
  display: block;
  clear: both;
}
.form_group.zap_menya label{
  float: left;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}
.form_group.zap_menya label:after{
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #d8d8d8 url('../img/checked.png') no-repeat center center;
  background-size: 0;
  transition: all .2s linear;
  opacity: 0.6;
}
.form_group.zap_menya input[type=checkbox]:checked + label:after{
  background-size: 90%;
}

.form_group.zap_menya a{
  margin-top: 16px;
  color: #9b9b9b;
  font-size: 14px;
  float: right;
  font-weight: 400;
}
.btn_all{
  border: 0;
  border-radius: 4px;
  background-color: #3c3c3c;
  width: 100%;
  color: #fff;
  height: 48px;
  line-height: 48px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 9px;
  display: inline-block;
  transition: all .2s linear;
}
.btn_all:hover{
  background-color: #0a0a0a;
  color: #fff;
}

.aft_bef{
  text-align: center;
}
.aft_bef h5{
  display: inline-block;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 900;
  position: relative;
  margin: 15px auto;
}

.aft_bef h5:after{
  content: "";
  position: absolute;
  left: -33px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 1px;
  background-color: #d8d8d8;
  display: block;
}

.aft_bef h5:before{
  content: "";
  position: absolute;
  right: -33px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 1px;
  background-color: #d8d8d8;
  display: block;
}

.enter_social_set{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.enter_social_set a{
  width: 74px;
  height: 48px;
  border-radius: 4px;
  background-color: #ebebeb;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}

.enter_social_set a svg{
  transition: all .5s linear;
  width: 100% !important;
  max-width: 24px;
  height: 24px;
  font-size: 48px;
}

.enter_social_set a:hover svg{
  transform: scale(1.2);
}
p.no_acc{
  color: #3c3c3c;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}
p.no_acc a{
  font-weight: 700;
  border-bottom: 2px solid rgba(216, 216, 216, 0.5);
}
.vost_par_one{
  text-align: center;
}

.vost_par_one_square{
  width: 128px;
  height: 128px;
  background-color: #d8d8d8;
  opacity: 0.6;
  margin: 0 auto 40px;
}

.enter_social_set.registr{
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.enter_social_set.registr a{
  width: 100%;
  margin-bottom: 8px;
}

.enter_social_set.registr a:hover svg{
  transform: scale(1.2) translateX(-2px);
}
.registr_scn p{

}
.avtorizatsiya_left form label span{
  color: #9b9b9b;
}
p.kn_push{
  color: #3c3c3c;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
p.kn_push a{
  border-bottom: 1px solid rgba(60, 60, 60, 0.2);
}
.my_carousel .item{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height: 100%;
  color: #fff;
  padding-bottom: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
.my_carousel .item p, .my_carousel .item p span, .my_carousel .item div{
  color: #fff !important;
  font-size: 14px !important;
  line-height: 1.3 !important;
}
.owl-carousel .owl-stage-outer, .owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
  height: 100%;
}
.owl-dots{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: -30px;
  padding-left: 50px;
}
.owl-carousel .owl-dot span, .owl-carousel .owl-nav .owl-next span, .owl-carousel .owl-nav .owl-prev span{
  width: 35px;
  height: 4px;
  background-color: #777;
  display: inline-block;
  transition: all .3s linear;
  cursor: pointer;

}
.owl-dot{
  margin-right: 15px;
  position: relative;
  width: 35px;
}
.owl-dot.active span{
  background-color: #fff;
}
/***********************************avtorizatsiya*************************************************/


@media(max-width: 767px) {
  .my_carousel.owl-carousel.owl-loaded.owl-drag{
    display: none !important;
  }
  .avtorizatsiya_left{
    min-width: 100%;
  }
}